@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-colour: #000;
  --secondary-colour: #fff;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-colour: #fff;
  --secondary-colour: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-colour);
}

.toggle {
  cursor: pointer;
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  font-family: inherit;
}

.toggle:focus {
  outline: none;
}

body {
  font-family: "Heebo", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  height: 200px;
  width: 200px;
}

.needle {
  background-color: var(--primary-colour);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
  transition: transform 0.5s ease-in;
}

.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
}

.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
  background-color: #e74c3c;
}

.centre-point {
  position: absolute;
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.centre-point::after {
  content: '';
  position: absolute;
  background-color: var(--primary-colour);
  width: 5px;
  height: 5px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.time {
  font-size: 60px;
}

.date {
  color: #aaa;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.circle {
  background-color: var(--primary-colour);
  color: var(--secondary-colour);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  transition: all 0.5s ease-in;
  font-size: 12px;
}